body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.head{
background-color: rgb(120, 40, 40);
color: aliceblue;
text-align: center;
padding: 25px;
}
.cards{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}
.card{
  border: 1px solid #350f0f;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  background-color: rgb(210, 142, 122);
 
}